@import "tailwindcss";

@theme {
  --color-app-bg: #F6F7EB;
  --color-brand: #3E43F0;
  --color-brand-hover: #4338ca;
  --color-brand-light: #eef2ff;
  --color-brand-subtle: #e0e7ff;
}

body {
  background-color: var(--color-app-bg);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.group:hover .animate-marquee {
  animation-name: marquee;
  animation-play-state: running;
}